*.class
*.jar
*.o
*.pyc
*.dll
*.key
*.pem
*.env
*.config
*.log
*.swp
*.DS_Store
.vscode
Thumbs.db
/bin
/build
/dist
/target
/node_modules
/vendor
/.venv
/.gradle
.vscode/*    
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json