body {
    margin: 0 auto;
    padding: 0;
    width: 1280px;
    background-color: rgba(255, 230, 215, 1);
    font-family: Cormorant;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;

}

.main-header {
    margin: 0 auto;
    width: 1170px;
    padding: 0 55px;
    margin-bottom: 54px;
}

section {
    margin: 0 auto;
    padding: 0;
    width: 1170px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h2 {
    font-size: 23px;
    font-weight: 500;
    line-height: 24px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    color: rgba(68, 99, 129, 1);

}

blockquote {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    color: rgba(235, 131, 130, 1);
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
}

img {
    display: block;
}

.button {
    padding: 8px 35px;
    background: linear-gradient(94.66deg, #4498d984 17.46%, #7367beb9 87.77%);
    color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    border: none;
    font-family: Cormorant;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    transition: opacity 0.6s;
    
}

.button:disabled {
    opacity: 0.5;
    background: linear-gradient(94.66deg, #8bacc684 17.46%, #928cb7b9 87.77%);
}



.button:active:not(:disabled),
.link:active {
    opacity: 0.8;
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


.main-navigation {
    margin: 0;
    padding: 0;
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sections-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 45px;
}

.sections-navigation a {
    color: rgba(68, 99, 129, 1);
    text-decoration: none;
}

a.link-to-start {
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: linear-gradient(94.66deg, #4499D9 17.46%, #7367BE 87.77%);
    color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    text-decoration: none;
}

.about {
    display: flex;
    justify-content: space-between;
    height: 630px;
}

.about .link-to-start {
    margin-top: 36px;
}

.about-text-content {
    padding-top: 50px;
    width: 530px;
}

.rules {
    margin-bottom: 100px;
}

.rules-main-idea {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}

.rules-pre-text {
    width: 500px;
    margin-left: 100px;
}

.rules-text {
    width: 770px;
    margin: auto;
}

.rules h3 {
    color: rgba(68, 99, 129, 1);
    font-weight: 750;
    font-size: 26px;
    text-align: center;
}


.get-start {
    padding-top: 30px;
    height: 600px;
}

.get-start h2 {
    margin: 30px;
    color: rgba(68, 99, 129, 1);
    font-weight: 750;
    font-size: 26px;
    text-align: center;
}


.question-block {
    width: 570px;
    background: rgba(251, 218, 207, 1);
    box-shadow: 0px 20px 50px 0px rgba(132, 148, 205, 0.08);
    padding: 36px 46px;
    border-radius: 20px;
    opacity: 100%;
    margin: 0 auto 30px auto;
}

.get-start::after {
    display: block;
    z-index: -1;
    content: ' ';
    display: block;
    background-image: url('img/image.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    right: 0;
    top: -530px;
    height: 600px;
    width: 1170px;
    opacity: 3%;
}

.set-result {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.question-text {
    min-height: 80px;
}

.question-block-footer {
    display: flex;
    padding: 10px 50px;
}

.get-result-button {
    margin-left: auto;
}

.links-social {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: auto;
}

.link-social {
    width: 24px;
    height: 24px;
    border: 12px;
}

.logo-github {
    background-image: url('img/github.svg');
}

.logo-hh {
    background-image: url('img/hh.ru__min_.svg');
}