.main-header {
    margin: 0 auto;
    width: 1170px;
    padding: 0 55px;
    margin-bottom: 54px;
}

.main-navigation {
    margin: 0;
    padding: 0;
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sections-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 45px;
    color: rgba(68, 99, 129, 1);
}

.img {
    display: block;
}