.rules-text {
    width: 770px;
    margin: auto;
}

.instruction-title {
    text-align: center;
}

.subtitle {
    color: rgba(68, 99, 129, 1);
    font-weight: 750;
    font-size: 26px;
    text-align: center;
}